
@{
    ViewBag.Title = "Search";
}


<div class="form-horizontal" style="margin-top: 50px;">
    <div class="form-group">
        <label for="query" class="control-label col-md-2">Sök</label>
        <div class="col-md-6">
            <input type="text" class="form-control search-input" id="query" placeholder="Ange sökord."/>
        </div>
        <div class="col-md-2">
            <a href="#" onClick="ToggleAdvancedSearch(); return false;">Avancerad sök</a>
        </div>
    </div>
    <div id="advancedSearchContainer" style="display: none;">
        <div class="form-group">
            <label for="searchPersons" class="control-label col-md-3">Min lediga platser</label>
            <div class="col-md-3">
                <input type="number" id="searchPersons" class="form-control search-input" />
            </div>
        </div>
        <div class="form-group">
            <label for="MaxCost" class="control-label col-md-3">Max Pris</label>
            <div class="col-md-3">
                <input type="number" id="MaxCost" class="form-control search-input update-button"/>
            </div>
            <div class="col-md-3">
                <input type="button" id="freeButton" value="Visa bara gratis" onclick="CostButtonAction();"/>
            </div>
        </div>
        <div class="form-group">
            <label for="SortBy" class="control-label col-md-3">Sortera efter</label>
            <div class="col-md-3">
                <select id="SortBy" class="form-control search-input">
                    <option value="0">Kostnad</option>
                    <option value="1">Datum</option>
                    <option value="2">Titel</option>
                    <option value="3">Popularitet</option>
                    <option value="4">Avstånd</option>
                </select>
            </div>
        </div>
        <div class="form-group">
            <label for="MaxDistance" class="control-label col-md-3">Max Avstånd(mil)</label>
            <div class="col-md-3">
                <input type="number" id="MaxDistance" class="form-control search-input"/>
            </div>
        </div>
    </div>
    @*<div class="form-group">
            <div class="col-md-12">
                <input type="button" class="btn btn-default" id="eventSearchButton" value="Search" />
            </div>
        </div>*@
</div>

@*}*@

<div id="EventTable">

</div>

@section scripts{
    <script src="~/Scripts/eventsearch.js"></script>
}