@model EventBot.Web.Models.IndexViewModel


<h2></h2>

<p class="text-success">@ViewBag.StatusMessage</p>
<div>
    <h4>Ändra kontoinställningar</h4>
    <hr />
    <input value="@Model.Name" type="text" />
    <dl class="dl-horizontal">

                @Html.ActionLink("Byt lösenord", "ChangePassword")

    </dl>
</div>
