<div class="my-fluid-container">
    <!-- Adds 15px left/right padding -->
    <div class="row">
        <!-- Adds -15px left/right margins -->
        <div>
            <!-- Full-width content -->
        </div>
    </div>
</div>


@*<div style="background:#e7e7e7" class="wrapper container-full">
    <div class="jumbotron">
        <iframe width="100%"
                height="400px"
                frameborder="0" style="border:0"
                src="https://www.google.com/maps/embed/v1/place?key=AIzaSyCnWx0t3oWPAUiv1sxfmdSKXN7k58L4JBU
    &q=Space+Needle,Seattle+WA" allowfullscreen></iframe>
    </div>
</div>
<hr />*@

<div class="container-fluid">
    <div class="row">
        <div class="jumbotron">
            <h1 style="color: white">Just a title</h1>
            <p  style="color: white">Lite brödtext och så.</p>
            @*<a href="#" class="btn btn-primary btn-lg">Button</a>*@
        </div>
    </div>
</div>


<div class="page-header">
    <h3>Hot events </h3>
</div>

<div class="container">
    <div class="row">
        <div class="col-xs-6 col-md-3">
            <a href="#" class="thumbnail">
                <img src="http://loremflickr.com/600/400" style="background-size: cover">
            </a>
        </div>
        <div class="col-xs-6 col-md-3">
            <a href="#" class="thumbnail">
                <img src="http://lorempixel.com/600/400" style="background-size: cover">
            </a>
        </div>
        <div class="col-xs-6 col-md-3">
            <a href="#" class="thumbnail">
                <img src="https://placeimg.com/600/400/any0" style="background-size: cover">
            </a>
        </div>
        <div class="col-xs-6 col-md-3">
            <a href="#" class="thumbnail">
                <img src="http://placekitten.com/600/400" style="background-size: cover">
            </a>
        </div>

    </div>
</div>

