@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
    @Html.AntiForgeryToken()


        <ul class="nav navbar-nav navbar-right">
            <li class="notifications">
                <a href="#">
                    <i class="glyphicon glyphicon-globe"></i>
                    <span id="notificationsbadge" class="badge js-notification-count animated bounce"></span>
                </a>
            </li>

            <li>
                <a href="/Manage"><span class="glyphicon glyphicon-user"></span> @User.Identity.GetUserName()</a>

            </li>

            <li><a href="javascript:document.getElementById('logoutForm').submit()"><span class="glyphicon glyphicon-log-in"></span> Log off</a></li>

        </ul>
    }
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li><a href="/Account/Register"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
        <li><a href="/Account/Login"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
    </ul>

    
}
