
/* Css test for create event */
body {
    overflow-x: hidden;
}

form {
    margin: 0;
    padding: 0;
}

.form-horizontal {
    max-width: 700px;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

    .form-horizontal .form-group {
        margin-left: 0;
        margin-right: 0;
        box-sizing: border-box;
    }

.col-md-12 {
    padding-left: 0;
    padding-right: 0;
    box-sizing: border-box;
}

hr {
    color: #f0f0f0;
    padding: 0;
    margin: 19px 0;
}

/*img#EventImage {
    height: 299px;
    width: auto;
    display: block;
    margin: 0 auto;
}*/
img#EventImage {
    position: absolute;
    display: block;
    
    left: 50%;
    top: 190px;
    max-height: 299px;
    max-width: 100%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

div.eventBot-img-container {
    height: 299px;
    width: 100%;
}
input.form-control {
    padding: 0 20px;
    text-align: center;
    outline: none;
    border: none;
    background-color: transparent;
    box-shadow: none;
    box-sizing: border-box;
    width: 100% !important;
}

    input.form-control:focus {
        outline: none;
        border: none;
        background-color: transparent;
        box-shadow: none;
    }

    input.form-control[readonly] {
        background-color: transparent;
        cursor: pointer;
    }

input.btn {
    height: 91px;
    width: 100% !important;
    display: block;
    border: none;
    padding: 0;
    margin: 0;
    border-radius: 0;
    text-align: center;
    background-color: #ff5c47;
    color: white;
    box-sizing: border-box;
}

    input.btn:focus {
    }

@media(min-width: 992px) {
    img#EventImage {
        width: auto;
    }
}

/* Input file */
.inputfile {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    margin: 0;
    padding: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

    .inputfile + label {
        font-weight: lighter;
        height: 91px;
        width: 100%;
        padding-top: 40px;
        margin: 0;
        text-align: center;
        display: block;
        color: white;
        background-color: #ff5c47;
    }

        .inputfile:focus + label,
        .inputfile + label:hover {
            background-color: whitesmoke;
            color: black;
        }

    .inputfile + label {
        cursor: pointer; /* "hand" cursor */
    }


/* Select box */
.bootstrap-select.btn-group .dropdown-toggle span.filter-option {
    text-align: center;
    display: block;
    margin: 0 auto;
}

.bootstrap-select > .dropdown-toggle.bs-placeholder.btn-default {
    width: 100%;
    padding-left: 0;
    padding-right: 0;
    margin: 0;
    border: none;
    outline: none;
    background-color: transparent;
}

button.btn-default {
    background-color: transparent;
    border-color: transparent;
}

    button.btn-default:hover {
        background-color: transparent;
        border-color: transparent;
    }

    button.btn-default:focus {
        background-color: transparent;
        border-color: transparent;
    }

.bootstrap-select button.btn.btn-default.dropdown-toggle:focus {
    outline: none !important;
    background-color: transparent;
}

.bootstrap-select > .dropdown-toggle.bs-placeholder.btn-default:hover {
    outline: none;
    box-shadow: none;
    background-color: transparent;
}


div.bootstrap-select:not([class*="col-"]):not([class*="form-control"]):not(.input-group-btn) {
    width: 100%;
    padding: 0;
    margin: 0;
}
/* Event details */
h1 {
    text-align: center;
}

p {
    text-align: center;
}

.img-fade-container {
    margin-bottom: -100px;
}

    .img-fade-container:after {
        content: "";
        display: block;
        position: absolute;
        width: 100%;
        height: 70%;
        bottom: 0;
        background: -webkit-linear-gradient(transparent, #FFF) left repeat;
        background: linear-gradient(transparent, #FFF) left repeat;
    }

#staticMapImage {
    width: 100%;
    height: auto;
}

.circle {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    /*margin:  auto;*/
    padding: 0;
    width: 70px;
    height: 70px;
    -webkit-border-radius: 35px;
    -moz-border-radius: 35px;
    -ms-border-radius: 35px;
    border-radius: 35px;
    background: #ff5c47;
}
.circle.circle-fixed {
    position: fixed;
    bottom: 0px;
    top: auto;

}
    .circle p {
        position: absolute;
        top: 35%;
        left: 15%;
    }
