
/* Css test for create event */
body {
    overflow-x: hidden;
}
form {
    margin: 0;
    padding: 0;
}
.form-horizontal {
    max-width: 700px;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.form-horizontal .form-group {
    margin-left: 0;
    margin-right: 0;
    box-sizing: border-box;
}
.col-md-12 {
    padding-left: 0;
    padding-right: 0;
    box-sizing: border-box;
}
hr {
    color: #f0f0f0;
    padding: 0;
    margin: 19px 0;
}
img#EventImage {
    height: 299px;
    width: auto;
    display: block;
    margin: 0 auto;
    padding: 70px 60px;
}
input.form-control {
    padding: 0 20px;
    text-align: center;
    outline: none;
    border: none;
    background-color: transparent;
    box-shadow: none;
    box-sizing: border-box;
    width: 100% !important;
}
input.form-control:focus {
    
    outline: none;
    border: none;
    background-color: transparent;
    box-shadow: none;
    
}
input.btn {
    height: 91px;
    width: 100% !important;
    display: block;
    border: none;
    padding: 0;
    margin: 0;
    border-radius: 0;
    text-align: center;
    background-color: #ff5c47;
    color: white;
    box-sizing: border-box;
}
input.btn:focus {
 
}

@media(min-width: 992px) {
    img#EventImage {
        width: auto;
    }

}

/* Input file */
.inputfile {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
    margin: 0;
    padding: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}

.inputfile + label {
    font-weight: lighter;
    height: 91px;
    width: 100%;
    padding-top: 40px;
    margin: 0;
    text-align: center;
    display: block;
    color: white;
    background-color: #ff5c47;
}

.inputfile:focus + label,
.inputfile + label:hover {
    background-color: whitesmoke;
    color: black;
}
.inputfile + label {
	cursor: pointer; /* "hand" cursor */
}