body {
    padding-top: 50px;
    padding-bottom: 20px;
    background: #f9fafb;
}

.body-content {
    background: #f9fafb;
    padding-left: 15px;
    padding-right: 15px;
}

.dl-horizontal dt {
    white-space: normal;
}

input,
select,
textarea {
    max-width: 280px;
}


/* Bootstrap overrides */

body {
    font-family: 'Montserrat', sans-serif;
}

.navbar-brand {
        font-family: 'Montserrat', sans-serif;
        font-weight: 900;
        font-style:italic;
        font-size: 25px;
        color:white;
}

.navbar-collapse {
    background: #fff;
}

.jumbotron {
    background: #fff;

}

.footer
{
    height: 50px;
    background-color: black;
    position: absolute;
    left: 0;
    right: 0;
    width: 100%;
}

#grad {
    background: linear-gradient(#ffffff, #4cff00); /* Standard syntax */
    border-bottom-left-radius: 12px;
    border-top-right-radius: 24px;

}
