@import 'https://fonts.googleapis.com/css?family=Lobster';

body {
    padding-top: 50px;
    padding-bottom: 20px;
    background: #f9fafb;
}

.body-content {
    background: #f9fafb;
    padding-left: 0;
    padding-right: 0;
}

.dl-horizontal dt {
    white-space: normal;
}

input,
select,
textarea {
    /*max-width: 400px;*/

}

/* Bootstrap overrides */

.notifications {
    margin-right: 10px;
    position: relative;
}

.notifications .badge {
    position: absolute;
    top: 8px;
    right: 0;
}


.popover {
    box-shadow: none;
    -webkit-box-shadow: none;
}
.popover-title {
    text-align: center;
}

.popover-content {
    padding: 0;
}

ul.notifications {
    list-style: none;
    padding-left: 0;
    text-align: center;
}

ul.notifications > li {
    border-bottom: 1px solid #ddd;
    padding: 10px;
}

ul.notifications > li:last-child {
    border-bottom: none;
}
ul.notifications .highlight {
    font-weight: bold;
}

ul.notifications > li > a.linkAllNotifications{
    text-align: center;
}

.ul.notifications > li > a:hover {
  color: #ffffff;
  text-decoration: none;
  background-color: #428bca;
}

body {
    font-family: 'Montserrat', sans-serif;
}

.navbar-brand {
    font-family: 'Lobster', cursive;

        font-weight: 100;
        font-style:initial;
        font-size: 25px;
        color:white;
}

.navbar-collapse {
    background: #fff;
}

.jumbotron {
    background: #fff;

}

.footer
{
    height: 50px;
    background-color: black;
    position: absolute;
    left: 0;
    right: 0;
    width: 100%;
}

#grad {
    background: linear-gradient(#ffffff, #009fcb); /* Standard syntax */
    border-bottom-left-radius: 12px;
    border-top-right-radius: 24px;
    color:white;
}

.grad {
    background: linear-gradient(#ffffff, #000000); /* Standard syntax */
    border-top-right-radius: 24px;
    color:white;
}
.navbar-default .navbar-nav > li > a {

    color: #777777;
}

.events-menu > li > a {
    background: #000); /* Standard syntax */
    color:white;
}


