@import 'https://fonts.googleapis.com/css?family=Lobster';

body {
    padding-top: 50px;
    padding-bottom: 20px;
    background: #fff;
}

.body-content {
    background: #fff;
    padding-left: 15px;
    padding-right: 15px;
}

.dl-horizontal dt {
    white-space: normal;
}

input,
select,
textarea {
    max-width: 280px;
}


/* Bootstrap overrides */

body {
    font-family: 'Montserrat', sans-serif;
}

.navbar-brand {
        font-family: 'Lobster', cursive;
        font-weight: 100;
        font-style:initial;
        font-size: 25px;
        color:white;
        padding:5px;
        margin-left:15px;
        margin-top:10px;
}

.navbar-collapse {
}

.jumbotron {
    background: #fff;

}

.footer
{
    height: 50px;
    background-color: black;
    position: absolute;
    left: 0;
    right: 0;
    width: 100%;
}

#grad {
    background: linear-gradient(#ffffff, #009fcb); /* Standard syntax */
    border-bottom-left-radius: 12px;
    border-top-right-radius: 24px;
    color:white;
}

.grad {
    background: linear-gradient(#ffffff, #000000); /* Standard syntax */
    border-top-right-radius: 24px;
    color:white;
}
.navbar-default .navbar-nav > li > a {
    color: #777777;
}

.events-menu > li > a {
    background: #000); /* Standard syntax */
    color:white;
}



.navbar-default .navbar-nav > li > a {
  border-bottom: 2px solid transparent;
  padding: 0; /*removing spacing*/
  margin: 14px; /*add spacing*/
}

.badge {
    background-color: #009fcb;
}

.container-full {
  margin: 0 auto;
  width: 100%;
}

.my-fluid-container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}